<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Stock Information</title>
</head>
<body>
<h1>Provide your stock information</h1>
<div>
<form method ="POST" action="/stocks">
    <div class=""form-group>Ticker Symbol:
        <input type="text" name="stock_symbol" placeholder="eg: AAPL/GOOGL">
    </div>
    <input type="submit" value="submit">
</form>
</div>
</body>
</html>