<!DOCTYPE html>
<p lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Information</title>
</head>
{% if(temp_data) %}
<h2>Stock Report: </h2><br>
    {{ temp_data.time}}<br>
    <br>
    {{ temp_data.name }}({{ temp_data.symbol }}）<br>
    <br>
    {% if temp_data.change < 0 %}
        {{ temp_data.price}}  {{ temp_data.change}} ({{ temp_data.change_per}})
    {% else %}
        {{ temp_data.price}}  +{{ temp_data.change}} (+{{ temp_data.change_per}})
    {% endif %}
{% endif %}

{% if(error) %}
    {{ error.error }}<br>
{% endif %}
<p>
<form method ="POST" action="/stocks">
    <div class=""form-group>Please enter another symbol:
        <input type="text" name="stock_symbol" placeholder="eg: AAPL/GOOGL">
    </div>
    <div>
        <input type="submit" value="submit">
    </div>
</form>
</p>
</body>
</html>